<div class="center jumbotron">
  <h1>ようこそサンプルページへ</h1>

  <h2>this is the home page for
    <a href="https://railstutorial.jp">Ruby on Rails Tutorial</a>
  </h2>

  <%= link_to "sign up now!", signup_path, class:"btn btn-lg btn-primary" %>
</div>
  <%= link_to image_tag("shi-sa-.jpg", alt:"Rails logo"), 'http://rubyonrails.org/' %>
